<form novalidate #myForm="ngForm">
  <kendo-grid
    [kendoGridTemplateEditing]="createNewProduct"
    [kendoGridBinding]="data.table"
    [pageSize]="10"
    [pageable]="true"
    [sortable]="true"
    [navigable]="true"
    (save)="saveHandler($event)"
    (remove)="removeHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        kendoGridAddCommand
        type="button"
        icon="k-icon k-i-plus-outline"
        class="k-ca"
      >
        Agregar
      </button>
      <span>Información > </span>
      <div *ngFor="let item of this.data.tableDetail.columns">
        <span>{{ item.header }}:{{ item.dataType }}</span>
      </div>
    </ng-template>

    <kendo-grid-column
      [field]="item.field"
      [title]="item.field"
      *ngFor="let item of data.columnNames"
    >
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input
          [(ngModel)]="dataItem[item.field]"
          kendoGridFocusable
          [name]="item.field"
          class="k-textbox k-input k-rounded-md"
          required
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column title="Acciones">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button
          kendoGridEditCommand
          type="button"
          [primary]="true"
          icon="k-i-edit k-i-pencil"
        >
          editar
        </button>
        <button
          kendoGridRemoveCommand
          type="button"
          icon="k-i-delete k-i-trash"
        >
          Eliminar
        </button>
        <button
          kendoGridSaveCommand
          type="button"
          [disabled]="false"
          icon="k-i-save k-i-floppy"
        >
          {{ isNew ? "agregar" : "actualizar" }}
        </button>
        <button
          kendoGridCancelCommand
          type="button"
          icon="k-i-close-circle k-i-x-circle"
        >
          {{ isNew ? "Descartar" : "Cancelar" }}
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</form>

<app-dialogs [message]="message" [opened]="opened"></app-dialogs>
