<form novalidate #myForm="ngForm">
  <kendo-grid
    [kendoGridTemplateEditing]="createNewProduct"
    [kendoGridBinding]="data.table"
    [pageSize]="10"
    [pageable]="true"
    [sortable]="true"
    [navigable]="true"
    (save)="saveHandler($event)"
    (remove)="removeHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button
        kendoGridAddCommand
        type="button"
        icon="k-icon k-i-plus-outline"
        class="k-ca"
      >
        Agregar
      </button>
    </ng-template>

    <kendo-grid-column
      [field]="item.field"
      [title]="item.field"
      *ngFor="let item of data.columnNames"
    >
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input
          [(ngModel)]="dataItem[item.field]"
          kendoGridFocusable
          [name]="item.field"
          class="k-textbox k-input k-rounded-md"
          required
        />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-command-column title="Acciones">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand type="button" [primary]="true">
          Edit
        </button>
        <button kendoGridRemoveCommand type="button">Remove</button>
        <button kendoGridSaveCommand type="button" [disabled]="false">
          {{ isNew ? "Add" : "Update" }}
        </button>
        <button kendoGridCancelCommand type="button">
          {{ isNew ? "Discard changes" : "Cancel" }}
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</form>
